*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body{
    background-color: #0d0d26;
    overflow: hidden;
    opacity: 0%;
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* HEADER ----------------------------------    */
header{
    border: solid 1px #7F8F85;
    height: 9vh;
    color: #7F8F85;
    display: flex;
    flex-direction: column;
}
header p span{
    margin: 10px;
    text-decoration: underline;
}
header p {
    padding-bottom: 1vh;
    margin-top: 1vh;
    border-bottom: solid 1px #7F8F85;
}
header > .below-header{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5vh;
    margin-left: 1vw;
}
.below-header > div {
    background-color: #FEB346;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
header p span a{
    text-decoration: none;
    color: white;
    transition: font-size 0.2s ease-in-out;
}
header p span a:hover{
    font-size: 1.2em;
}
.back{
    margin-left: 35vw;
}
/* MAIN ------------------------------------ */
main{
    height: 91vh;
    display: grid;
    grid-template-areas: 
    "left-up mid mid right"
    "left-up mid mid right"
    "left-down mid mid right"
    "left-down below below below";
    grid-template-rows: 2fr 1fr 1fr 1fr; /* control row heights */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.left-up, .left-down, .mid, .below, .right{
    border: solid white 0.1px;
}
/* LEFT-UP --------------------------------------  */
.left-up-size{
    height: 100%;
    width: 100%;
}
.item > .folder-icon {
    background-color: #FEB346;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.left-up > .item {
    margin-left: 3vw;
    margin-right: 3vw;
    color: #7F8F85;
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 8px;
}
/* LEFT-DOWN ------------------------------------------- */
.left-down{
    color: #7F8F85;
    background-color: #0B0A1F;
}
/* MID ---------------------------------------------- */
main .mid{
    padding: 30px;
    color: #248BD2;
}
.clue1::selection{
    background-color: rgb(131, 23, 131);
}
.clue2::selection{
    background-color: rgb(0, 238, 255);
}
/* BELOW -------------------------------------------- */
.below{
    color: #7F8F85;
    padding: 10px;
    display: flex;
    gap: 5px;
}
/* RIGHT ------------------------------------------ */
.right{
    background-color: #0B0A1F;
}